name: llvm-msvc-build

concurrency:
  group: build-${{ github.head_ref }}
  cancel-in-progress: true

on: [push, pull_request]

jobs:
  build:
     # Skip building pull requests from the same repository
    if: ${{ github.event_name == 'push' || (github.event_name == 'pull_request' && github.event.pull_request.head.repo.full_name != github.repository) }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [windows-2019]
    env:
      BUILD_TYPE: Release
    steps:

    - name: Install ninja-build tool
      uses: seanmiddleditch/gha-setup-ninja@v3
    
    - name: Enable Developer Command Prompt
      uses: ilammy/msvc-dev-cmd@v1.7.0
      
    - name: Build llvm
      run: |
       git clone --branch dev --depth 1 https://github.com/NewWorldComingSoon/llvm-msvc
        cmake -Bbuild -DHAVE_STD_IS_TRIVIALLY_COPYABLE=0 -DLLVM_TOOL_LLVM_SHLIB_BUILD=off -DLLVM_ENABLE_LIBXML2=ON -DLLVM_USE_CRT_RELEASE=MT -DCMAKE_BUILD_TYPE=Release -DCPACK_GENERATOR=ZIP "-DCMAKE_INSTALL_PREFIX=$pwd\\prefix" -DLLVM_TARGETS_TO_BUILD="X86;ARM;AArch64" -DLLVM_ENABLE_PROJECTS="clang;lld" llvm-msvc\\llvm
        cmake --build build --config Release

    - name: Package llvm
      run: |
        cmake --build build --target package --config Release

    - name: Upload Artifact
      uses: actions/upload-artifact@v2
      with:
        name: llvm-msvc
        path: build/*.zip
        
    - name: Get lowercase OS name
      id: osname
      uses: ASzc/change-string-case-action@v1
      with:
        string: ${{ runner.os }}
    
    - name: archive
      if: |
        github.event.release
      run:
        7z a build.zip build
    
    - name: publish
      if: |
        github.event.release
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        upload_url: ${{ github.event.release.upload_url }}
        asset_path: build.zip
        asset_name: ${{ github.event.repository.name }}-${{ steps.osname.outputs.lowercase }}.zip
        asset_content_type: application/zip
